<%- include('header.ejs'); %>

<% if(accessToken) { %>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Menu Items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">New Entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Entries</a>
      </li>
    </ul>

    <!-- Welcome User Dropdown -->
    <ul class="navbar-nav" style="margin-right: 20px;"> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome <%= user.fullname %>
          <img src="<%= user.userphoto %>" alt="Avatar" width="30" height="30" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user-profile">My Account</a>
          <a class="dropdown-item" href="#">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" id="logout">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
<div class="container">
    <div class="card card-container">
        <h1 style="text-align: center; margin-bottom: 20px; font-weight: 700;">Your Profile</h1>
        <%if(user.userphoto) { %>
        <img id="profile-img" class="profile-img-card" src="<%= user.userphoto %>" data-profilephoto="<%= user.userphoto %>"/>
        <% } else { %>
        <img id="profile-img" class="profile-img-card" src="https://www.pngmart.com/files/22/User-Avatar-Profile-PNG.png"/>
        <% } %>
        <p id="profile-name" class="profile-name-card">USER ID: <%= user.userID %></p>

        <div id="alertMessage" class="alert" role="alert" style="display: none !important">
            <strong></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="accountsettings" class="form-signin" enctype="multipart/form-data">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" name="fullname" id="inputname" class="form-control" placeholder="Full Name" value="<%= user.fullname %>"autofocus>
            <input type="text" name="email" id="inputemail" class="form-control" placeholder="Email ID" value="<%= user.email %>" autofocus>
            <button type="button" id="initProfilePhotos" class="btn btn-warning" onclick="initProfilePhoto()">Change Profile Photo</button>
            <input type="file" name="userphoto" id="profilePhoto" class="form-control" style="display: none; margin-bottom: 20px;">
            <button id="updateProfileButton" class="btn btn-success" type="submit" disabled>Update Profile</button>
        </form><!-- /form -->

        <a href="/dashboard" class="forgot-password">
            Back to Dashboard
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->

<% } %>

<script>
    // Trigger the input field for uploading profile photo //
    function initProfilePhoto() {
        var uploadBtn = document.getElementById("initProfilePhotos");
        var inputField = document.getElementById("profilePhoto");

        uploadBtn.style.display = 'none';
        inputField.style.display = 'block';
    }

    //Function to enable the update button //
    function enableUpdateButton() {
      const updateButton = document.getElementById("updateProfileButton");
      updateButton.removeAttribute("disabled");
    }
    document.getElementById("accountsettings").addEventListener("change", enableUpdateButton);
    document.getElementById("profilePhoto").addEventListener("change", enableUpdateButton);

    //Send form data to api //
    document.getElementById("accountsettings").addEventListener("submit", function(e) {
    e.preventDefault();
  
    const form = e.target;
    const formData = {
      fullname: form.elements.fullname.value,
      email: form.elements.email.value,
    };

    console.log(formData);

      // Read the image file as a Base64 string
      const userphotoInput = form.elements.userphoto;
      if (userphotoInput.files.length > 0) {
        const reader = new FileReader();
        reader.onload = function() {
          formData.userphoto = reader.result.split(",")[1]; // Add the Base64 string to the form data

          //Make a POST request to the API//
          fetch(`/api/v1/UpdateUser/<%= user.userID%>`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
            credentials: 'include',
          })

          .then(response =>
            response.json()).then(data => {
              console.log(data);

              let message = '';
              let alertClass = '';

              if (data.success_msg) {
                alertClass = "alert-success";
                message = data.success_msg;

                // Update the input fields with the updated values
                document.getElementById("inputname").value = data.fullname;
                document.getElementById("inputemail").value = data.email;
                document.getElementById("profile-img").value = data.userphoto;
                // Update the profile photo image element
                const profilePhotoElement = document.getElementById("profile-img");
                profilePhotoElement.src = data.userphoto; // Update the src attribute with the new profile photo URL

                // Update the data-profilephoto attribute with the new profile photo URL
                profilePhotoElement.dataset.profilephoto = data.userphoto;
              } else {
                alertClass = "alert-danger";
                message = data.message;
              }

              showAlert(message, alertClass);
            })

            .catch((error) => {
              console.error(error);
            });
        };
        reader.readAsDataURL(userphotoInput.files[0]);
      } else {
        //Make a POST request to the API//
        fetch(`/api/v1/UpdateUser/<%= user.userID%>`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
          credentials: 'include',
        })

        .then(response =>
          response.json()).then(data => {
            console.log(data);

            let message = '';
            let alertClass = '';

            if (data.success_msg) {
              alertClass = "alert-success";
              message = data.success_msg;

              // Update the input fields with the updated values
              document.getElementById("inputname").value = data.fullname;
              document.getElementById("inputemail").value = data.email;
            } else {
              alertClass = "alert-danger";
              message = data.message;
            }

            showAlert(message, alertClass);
          })

          .catch((error) => {
            console.error(error);
          });
      }
    });

    function showAlert(message, alertClass) {
      const alertElement = document.getElementById("alertMessage");
      alertElement.className = `alert ${alertClass}`;
      alertElement.textContent = message;
      alertElement.style.display = "block";
    }


</script>