<%- include('header.ejs'); %>

<% if (!accessToken) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Please sign in to view the dashboard.</strong>
  </div>
<% } else { %>
  <!-- Your dashboard content here -->
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Menu Items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Admin Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Invoices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all-data">Customer Entries</a>
      </li>
    </ul>

    <!-- Welcome User Dropdown -->
    <ul class="navbar-nav" style="margin-right: 20px;"> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome <%= user.fullname %>
          <img src="<%= user.userphoto %>" alt="Avatar" width="30" height="30" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user-profile">My Account</a>
          <a class="dropdown-item" href="/change-password">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" id="logout">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="container d-flex justify-content-center">
    <div class="row align-items-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top" src="<%= user.userphoto %>" alt="Bologna">
          <div class="card-body">
            <h4 class="card-title">Hi, <%= user.fullname %></h4>
            <p>User ID: <%= user.userID %></p>
            <h6 class="card-subtitle mb-2 text-muted">Email: <%= user.email %></h6>
            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
            <a href="javascript:void(0)" class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Customer</a>
            <a href="/user-profile" class="card-link">Edit Profile</a>
            <button id="logout" class="btn btn-danger mt-3">System Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Customer Modal Starts -->
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">

        <div id="alertMessage" class="alert" role="alert" style="display: none !important">
          <strong></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

        <form id="addCustomer" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Registration Date</label>
            <input type="date" class="form-control" name="registration_date">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Business Name</label>
            <input type="text" class="form-control" name="business_name" id="exampleFormControlInput1" placeholder="ABC Pty Ltd">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Customer Name</label>
            <input type="text" class="form-control" name="customer_name" id="exampleFormControlInput1" placeholder="John Doe">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
            <input type="number" class="form-control" name="phone" id="exampleFormControlInput1" placeholder="0412 699 885">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Street Address</label>
            <input type="text" class="form-control" name="street_address" id="exampleFormControlInput1" placeholder="123 King St">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Suburb</label>
            <input type="text" class="form-control" name="suburb" id="exampleFormControlInput1" placeholder="Boston">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">State</label>
            <input type="text" class="form-control" name="state" id="exampleFormControlInput1" placeholder="Sydney">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Country</label>
            <input type="text" class="form-control" name="country" id="exampleFormControlInput1" placeholder="USA">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Pincode</label>
            <input type="number" class="form-control" name="pincode" id="exampleFormControlInput1" placeholder="2544">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Business Logo</label>
            <input type="file" class="form-control" name="business_logo" id="business_logo">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Status</label>
            <select class="form-control" aria-label="Default select example" name="status">
              <option selected>--Select Status--</option>
              <option value="Active">Active</option>
              <option value="Not Active">Not Active</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Extra Information</label>
            <textarea id="editorContent" name="extra_info" style="display: none;"></textarea>
            <div id="editor"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
        </div>

    </form>
    </div>
  </div>
</div>
  <!-- Add Csutomer Modal Ends  -->

<% } %>

 <script>
  const logoutButton = document.getElementById('logout');

  logoutButton.addEventListener('click', (event) => {
    event.preventDefault();

    // Make a POST request to the logout API
    fetch('/api/v1/logout', {
      method: 'POST',
      credentials: 'include' // Include credentials if required for your authentication system
    })
      .then(response => response.json())
      .then(data => {
        // Display the alert message
        alert(data.message);
        //redirect them to login page
        window.location.href = '/';
      })
      .catch(error => {
        console.error(error);
      });
  }); 

  /** 
   * Add New Customer API Logic
  */

  // Function to handle form submission
  async function submitForm() {
    const form = document.getElementById('addCustomer');

    // Check if form exists and is accessible
    if (!form) {
      console.error("Form not found or inaccessible.");
      return;
    }

    // Create a JSON object from form data
    const formData = {};
    const elements = form.elements;
    for (let i = 0; i < elements.length; i++) {
      const element = elements[i];
      if (element.name && element.value) {
        formData[element.name] = element.value;
      }
    }

    // Convert the file to Base64
    const businessLogoInput = document.getElementById('business_logo');
    const file = businessLogoInput.files[0];

    if (file) {
      formData.business_logo = await convertFileToBase64(file);
    }

    // Send JSON data to the API endpoint
    fetch(`/api/v1/AddNewCustomer/<%= user.userID%>`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData),
    })
      .then(response => response.json())
      .then(data => {
        console.log(data.success_message);

        let message = '';
        let alertClass = '';

          if (data.success_message) {
            alertClass = "alert-success";
            message = data.success_message;

              } else {
                alertClass = "alert-danger";
                message = data.error_msg;
              }

              showAlert(message, alertClass);
      })
      .catch(error => {
        console.error("Error sending form data:", error);
      });
  }

  // Attach click event to the Save Changes button
  document.getElementById('saveChangesButton').addEventListener('click', function () {
    submitForm();
  });

  // Function to convert file to Base64
  function convertFileToBase64(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);

      reader.onload = function () {
        resolve(reader.result.split(',')[1]);
      };

      reader.onerror = function (error) {
        reject(error);
      };
    });
  }

  function showAlert(message, alertClass) {
      const alertElement = document.getElementById("alertMessage");
      alertElement.className = `alert ${alertClass}`;
      alertElement.textContent = message;
      alertElement.style.display = "block";
    }

</script>