<%- include('header.ejs'); %>
<div class="container">
    <div class="card card-container">
        <h1 style="text-align: center; margin-bottom: 20px; font-weight: 700;">Reset Password</h1>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <h4><%= email %></h4>
        <h4><%= userId %></h4>
        <div id="alertMessage" class="alert" role="alert" style="display: none">
            <strong>This is a Bootstrap Dismissbale Alert!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="reset-password" id="LoginForm" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="password" name="password" id="inputEmail" class="form-control" placeholder="New Password" autofocus>
            <input type="password" name="confirmPassword" id="inputPassword" class="form-control" placeholder="Confirm Password" autofocus>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Change Password</button>
        </form><!-- /form -->

        <a href="/" class="forgot-password" style="float: right;">
            Login Now
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->


<script>
    document.getElementById("reset-password").addEventListener("submit", function(e) {
        e.preventDefault();
        
        const form = e.target;
        const formData = {
            password: form.elements.password.value,
            confirmPassword: form.elements.confirmPassword.value,
        };

        //Make an post ajax request to login api//
        fetch(`/api/v1/reset-password/<%= userId%>/<%= token%>`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
            credentials: 'include',
        })

        .then(response =>
            response.json()).then(data => {
            console.log(data);
            
            let message = '';
            let alertClass = '';

            if (data.success_message) {
                //window.location.href="/resetPassword";
                alertClass = "alert-success";
                message = data.success_message;
            
            } else {
                alertClass = "alert-danger";
                message = data.message;
            }
            
            showAlert(message, alertClass);
        })

        .catch((error) => {
            console.error(error);
        });

    })

    function showAlert(message, alertClass) {
        const alertElement = document.getElementById("alertMessage");
        alertElement.className = `alert ${alertClass}`;
        alertElement.textContent = message;
        alertElement.style.display = "block";    
    }

</script>